{% extends "base_email.html" %}
{% block title %}Confirm Your E-mail{% endblock %}
{% block content %}
    <div class="content">
        <h2>Confirm Your E-mail</h2>
        <p>Hello {{ user.name }},</p>
        <p>Thank you for signing up. Click the link below to verify your e-mail address and activate your account:</p>
        <p class="verify-link">
            <a href="{{ verify_url }}">
                Verify My E-mail
            </a>
        </p>
        <p>If you didn’t create this account, you can safely ignore this message.</p>
        <div class="note">
            <p>This link will expire in 24&nbsp;hours.</p>
            <p>If the button above doesn’t work, copy and paste this URL into your browser:</p>
            <p>{{ verify_url }}</p>
        </div>
    </div>
{% endblock %}